<!-- @begin header -->
<div class="container">
  <div class="page-header">
    <h1 class="text-center">{{ section }}<small class="subtitle">From The MovieDB.org</small></h1>
  </div>
</div>
<!-- @end header -->
<!-- @begin search -->
<div class="container">
  <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <div class="input-group search-bar">
      <span class="input-group-addon"><span class="glyphicon glyphicon-play"></span></span>
      <input type="text" class="form-control" placeholder="Search for Upcoming Movies..." ng-model='searchText' id="searchText">
    </div>
  </div>
</div>
<!-- @end search -->
<div class="container movie-grid center-block">
  <div class="thumbnail" ng-repeat="movie in upcomings | filter:searchText">
    <h5 class="text-center">{{movie.title | limitTo: 30}}</h5>
    <img class="thumb-img" ng-src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}" alt="..." ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
    <p class="text-justify">{{movie.overview | limitTo: 70}}...</p>
    <!-- Modal Button -->
    <button type="button" class="btn-modal" data-toggle="modal" data-target="#{{movie.id}}">
      <span class="glyphicon glyphicon-info-sign"></span>
    </button>
    <!-- Modal -->
    <div class="modal fade movie-modal" id="{{movie.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-modal-close" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove-sign"></span>
            </button>
            <h3 class="modal-title">{{ movie.title}}</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-5 col-md-5">
                <img class="modal-img img-responsive" ng-src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="" />
              </div>
              <div class="col-sm-5 col-md-5 modal-info">
                <ul class="center-block list-unstyled">
                  <li class="text-justify"><strong>Synopsis</strong> {{movie.overview}}</li>
                  <li><strong>Film Premiere</strong> {{movie.release_date | limitTo: 4}}</li>
                  <li><strong>Rating</strong> {{movie.vote_average}} of {{movie.vote_count}} votes</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /Modal -->
      </div>
    </div>
  </div>
</div>