<!-- @begin header -->
<div class="container">
  <div class="page-header">
    <h1 class="text-center">{{ section }}<small class="subtitle">From The MovieDB.org</small></h1>
  </div>
</div>
<!-- @end header -->
<!-- @begin search -->
<div class="container">
  <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <div class="input-group search-bar">
  <span class="input-group-addon"><span class="glyphicon glyphicon-play"></span></span>
  <input type="text" class="form-control" placeholder="Search for Top Rated Movies..." ng-model='searchText' id="searchText">
</div>
  </div>
</div>
<div class="container">

</div>
<div class="container movie-grid center-block">
  <div class="thumbnail" ng-repeat="movie in topRateds  | filter:searchText">
    <img class="thumb-img" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="...">
    <div class="caption">
      <h5 class="text-center">{{movie.title}}</h5>
    </div>
  </div>
</div>
<!-- @end search

